@import "components/variables";
@import "fonts";
@import "components/color";
// Helpers
.v-split:after {
  content:"|";
  padding: 0 8px;
}

.container-flex{
  display: flex;
  justify-content: flex-start;
}
.color-1 {color: color("afk", "magento");}
.color-2 {color: color("afk", "orange");}
.color-3 {color: color("afk", "light-green");}
.color-4 {color: color("afk", "light-blue");}

//Typography
h1 {
  display: inline-block;
  font-family: $font-h1;
  text-transform: uppercase;
  color: #ffffff;
}

.header-top {
  height: 33px;
  color: $label1-text-color;
  font-size: 15px;
  text-align: left;
  span{line-height: 33px;}
  @media only screen and (max-width: 601px) {
    font-size: 0.867rem;
    font-weight: normal;
  }
  & .col > span:last-child{
    @media only screen and (max-width: 480px) {
      display: none;
    }
  }
}

.header {
  position: relative;
  height: $header-hight;
  width: 100%;
  background-color: $primary-color;
  padding-top: 13px;
  padding-bottom: 13px;
  div {height: 100%;}
  .logo{
    @media only screen and (max-width: 601px) {
      height: 38px;
      position: absolute;
      left: 15px !important;
      top: 12px;
    }
  }
  .title{
    padding-left: 0.75rem;
    overflow: hidden;
    margin: -13px 0;
    height: $header-hight;
    line-height: $header-hight;
  }
  h1 {
    color: $label3-text-color;
    width: 100%;
    text-align: center;
    margin-top: 0.75rem;
  }
  .input-field.search {
    margin: 0;
    @media only screen and (max-width: 601px) {
      position: static;
    }
     & input , button{
        height: 38px;
        margin: 0;
        border: none;
        box-sizing: border-box;
       float: left;
    }
    & input:focus{border: none;}
    input {
      width: 100%;
      padding-left: 15px;
      padding-right: 36px;
      background-color: #ffffff;
      border-radius: $border-rad;
      @media only screen and (max-width: 601px) {
        display: none;
      }
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 36px;
      border-radius: 0 $border-rad $border-rad 0;
      background: color("afk", "orange") url("../img/search.svg") no-repeat center center;
      background-size: 140%;
      @media only screen and (max-width: 601px) {
        background-color: transparent;
        height: 38px;
        position: absolute;
        right: 210px;
        top: 12px;
      }
      @media only screen and (max-width: 380px) {
        right: 90px;
      }
    }
  }
  img {height: 100%;}
  .login {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 0.87rem;
    text-align: right;

    & , a{
      color: #ffffff;
      font-weight: 600;
    }
    & img, a{
      display: inline-block;
      vertical-align: middle;
    }
    > span {
      @media only screen and (max-width: 380px) {
        display: none;
      }
    }
    .icon-down-open-1:before {
      display: none;
      @media only screen and (max-width: 380px) {
        display: inline-block;
      }
    }
    @media only screen and (max-width: 601px) {
      height: 38px;
      width: 190px !important;
      position: absolute;
      right: 15px !important;
      top: 12px;
    }
  }
}

#top-nav{
  border-bottom: 1px solid color("afk", "orange");
  i{
    display: inline-block;
    vertical-align: middle;
  }
  .dropdown-button.btn{
    span{display: inline-block; vertical-align: middle; margin-left: 1rem;}
    position: relative;
    border-radius: 0;
    height: 100%;
    background: none;
    color: color("afk", "blue");
    font-size: 0.87rem;
    box-shadow: none;
    padding: 0 15px;
    &:hover, &.active {
      background-color: color("afk", "light-blue");
      color: #ffffff;
      &:after{
        content:"";
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        background-color: color("afk", "light-blue");
      }
      .icon-down-open-1{display: inline-block;}
      .icon-menu{display: none;}
    }
    i{width: 1.5rem;}
    .icon-down-open-1{font-size: 1rem; display: none;}
  }

  .dropdown-content{
    width: 100%;
    margin-top: 1px;

    @media only screen and (max-width: 480px) {
      width: 85% !important;
    }

    .container-flex{
      @media #{$small-and-down} {
        flex-direction: column;
      }
    }
    .menu-left, .menu-right {padding-top: 15px;}
    .menu-left {
      width: 70%;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        border-right: 1px dotted color("afk", "light-grey");
        top: 0;
        bottom: 0;
        right: 0;
      }
      .icon-cancel{
        display: none;
        @media only screen and (max-width: 480px) {
          width: 15%;
          color: #ffffff;
          background-color: color("afk", "grey");

        }
      }
      @media #{$small-and-down} {
        width: 100%;
        border-bottom: 1px dotted color("afk", "light-grey");
        &:after {
          display: none;
        }
      }

    }

    .menu-right {
      width: 30%;
      position: relative;

      .title{
        color: color("afk", "blue");
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 14px 16px;
        line-height: 22px;
        @media #{$small-and-down} {
          width: 100%;
        }
      }
      @media #{$small-and-down} {
        width: 100%;
      }
    }
    .icon-cancel {
      position: absolute;
      right: 0;
      top: 0;
      color: color("afk", "light-grey");
      font-size: 20px;
      cursor: pointer;
    }

    li {
      min-height: 35px;
      &>a{
        color: color("afk", "grey");
        font-size: 1rem;
        font-weight: normal;
        white-space: normal;
      }
    }
  }

  .top-menu.right{
    a{
      > i{font-size: 1rem;}
      > span{
        @media #{$small-and-down} {
          display: none;
        }
      }
      @media #{$extra-small-and-down} {
        display: none;
      }
      @media #{$small-and-down} {
        padding: 0 10px;
      }
    }
  }
}
