
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'myfontello';
    src: url('../font/myfontello.svg?26514168#myfontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "myfontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glyph-80:before { content: '\e800'; }
.icon-glyph-79:before { content: '\e801'; }
.icon-glyph-78:before { content: '\e802'; }
.icon-glyph:before { content: '\e803'; }
.icon-glyph-1:before { content: '\e804'; }
.icon-glyph-2:before { content: '\e805'; }
.icon-glyph-3:before { content: '\e806'; }
.icon-glyph-4:before { content: '\e807'; }
.icon-glyph-5:before { content: '\e808'; }
.icon-glyph-6:before { content: '\e809'; }
.icon-glyph-7:before { content: '\e80a'; }
.icon-glyph-8:before { content: '\e80b'; }
.icon-glyph-9:before { content: '\e80c'; }
.icon-glyph-10:before { content: '\e80d'; }
.icon-glyph-11:before { content: '\e80e'; }
.icon-glyph-12:before { content: '\e80f'; }
.icon-glyph-13:before { content: '\e810'; }
.icon-glyph-14:before { content: '\e811'; }
.icon-glyph-15:before { content: '\e812'; }
.icon-glyph-16:before { content: '\e813'; }
.icon-glyph-17:before { content: '\e814'; }
.icon-glyph-18:before { content: '\e815'; }
.icon-glyph-19:before { content: '\e816'; }
.icon-glyph-20:before { content: '\e817'; }
.icon-glyph-21:before { content: '\e818'; }
.icon-glyph-22:before { content: '\e819'; }
.icon-glyph-23:before { content: '\e81a'; }
.icon-glyph-24:before { content: '\e81b'; }
.icon-glyph-25:before { content: '\e81c'; }
.icon-glyph-26:before { content: '\e81d'; }
.icon-glyph-27:before { content: '\e81e'; }
.icon-glyph-28:before { content: '\e81f'; }
.icon-glyph-29:before { content: '\e820'; }
.icon-glyph-30:before { content: '\e821'; }
.icon-glyph-31:before { content: '\e822'; }
.icon-glyph-32:before { content: '\e823'; }
.icon-glyph-33:before { content: '\e824'; }
.icon-glyph-34:before { content: '\e825'; }
.icon-glyph-35:before { content: '\e826'; }
.icon-glyph-36:before { content: '\e827'; }
.icon-glyph-37:before { content: '\e828'; }
.icon-glyph-38:before { content: '\e829'; }
.icon-glyph-39:before { content: '\e82a'; }
.icon-glyph-40:before { content: '\e82b'; }
.icon-glyph-41:before { content: '\e82c'; }
.icon-glyph-42:before { content: '\e82d'; }
.icon-glyph-43:before { content: '\e82e'; }
.icon-glyph-44:before { content: '\e82f'; }
.icon-glyph-45:before { content: '\e830'; }
.icon-glyph-46:before { content: '\e831'; }
.icon-glyph-47:before { content: '\e832'; }
.icon-glyph-48:before { content: '\e833'; }
.icon-glyph-49:before { content: '\e834'; }
.icon-glyph-50:before { content: '\e835'; }
.icon-glyph-51:before { content: '\e836'; }
.icon-glyph-52:before { content: '\e837'; }
.icon-glyph-53:before { content: '\e838'; }
.icon-glyph-54:before { content: '\e839'; }
.icon-glyph-55:before { content: '\e83a'; }
.icon-glyph-56:before { content: '\e83b'; }
.icon-glyph-57:before { content: '\e83c'; }
.icon-glyph-58:before { content: '\e83d'; }
.icon-glyph-59:before { content: '\e83e'; }
.icon-glyph-60:before { content: '\e83f'; }
.icon-glyph-61:before { content: '\e840'; }
.icon-glyph-62:before { content: '\e841'; }
.icon-glyph-63:before { content: '\e842'; }
.icon-glyph-64:before { content: '\e843'; }
.icon-glyph-65:before { content: '\e844'; }
.icon-glyph-66:before { content: '\e845'; }
.icon-glyph-67:before { content: '\e846'; }
.icon-glyph-68:before { content: '\e847'; }
.icon-glyph-69:before { content: '\e848'; }
.icon-glyph-70:before { content: '\e849'; }
.icon-glyph-71:before { content: '\e84a'; }
.icon-glyph-72:before { content: '\e84b'; }
.icon-glyph-73:before { content: '\e84c'; }
.icon-glyph-74:before { content: '\e84d'; }
.icon-glyph-75:before { content: '\e84e'; }
.icon-glyph-76:before { content: '\e84f'; }
.icon-spin1:before { content: '\e850'; }
.icon-spin2:before { content: '\e851'; }
.icon-spin3:before { content: '\e852'; }
.icon-spin4:before { content: '\e853'; }
.icon-spin5:before { content: '\e854'; }
.icon-spin6:before { content: '\e855'; }
.icon-mail:before { content: '\e856'; }
.icon-mail-alt:before { content: '\e857'; }
.icon-heart:before { content: '\e858'; }
.icon-heart-empty:before { content: '\e859'; }
.icon-star:before { content: '\e85a'; }
.icon-star-empty:before { content: '\e85b'; }
.icon-star-half:before { content: '\e85c'; }
.icon-star-half-alt:before { content: '\e85d'; }
.icon-ok-2:before { content: '\e85e'; }
.icon-ok-circled-2:before { content: '\e85f'; }
.icon-ok-circled2-1:before { content: '\e860'; }
.icon-ok-squared:before { content: '\e861'; }
.icon-cancel-2:before { content: '\e862'; }
.icon-cancel-circled-2:before { content: '\e863'; }
.icon-cancel-circled2-1:before { content: '\e864'; }
.icon-plus-2:before { content: '\e865'; }
.icon-plus-circled-1:before { content: '\e866'; }
.icon-plus-squared:before { content: '\e867'; }
.icon-plus-squared-alt:before { content: '\e868'; }
.icon-minus-1:before { content: '\e869'; }
.icon-minus-circled-1:before { content: '\e86a'; }
.icon-minus-squared:before { content: '\e86b'; }
.icon-minus-squared-alt:before { content: '\e86c'; }
.icon-home:before { content: '\e86d'; }
.icon-link:before { content: '\e86e'; }
.icon-unlink:before { content: '\e86f'; }
.icon-eye:before { content: '\e870'; }
.icon-eye-off:before { content: '\e871'; }
.icon-tags:before { content: '\e872'; }
.icon-bookmark:before { content: '\e873'; }
.icon-bookmark-empty:before { content: '\e874'; }
.icon-basket-4:before { content: '\e875'; }
.icon-cart-plus:before { content: '\e876'; }
.icon-cart-arrow-down:before { content: '\e877'; }
.icon-login-1:before { content: '\e878'; }
.icon-logout-1:before { content: '\e879'; }
.icon-down-open-1:before { content: '\e87a'; }
.icon-left-open-1:before { content: '\e87b'; }
.icon-right-open-1:before { content: '\e87c'; }
.icon-up-open-1:before { content: '\e87d'; }
.icon-angle-left:before { content: '\e87e'; }
.icon-angle-right:before { content: '\e87f'; }
.icon-angle-up:before { content: '\e880'; }
.icon-angle-down:before { content: '\e881'; }
.icon-angle-double-left:before { content: '\e882'; }
.icon-angle-double-right:before { content: '\e883'; }
.icon-angle-double-up:before { content: '\e884'; }
.icon-angle-double-down:before { content: '\e885'; }
.icon-money:before { content: '\e886'; }
.icon-euro:before { content: '\e887'; }
.icon-dollar:before { content: '\e888'; }
.icon-rupee:before { content: '\e889'; }
.icon-yen:before { content: '\e88a'; }
.icon-bitcoin:before { content: '\e88b'; }
.icon-cc-visa:before { content: '\e88c'; }
.icon-cc-mastercard:before { content: '\e88d'; }
.icon-cc-paypal:before { content: '\e88e'; }
.icon-facebook-squared:before { content: '\e88f'; }
.icon-facebook-official:before { content: '\e890'; }
.icon-google:before { content: '\e891'; }
.icon-gplus:before { content: '\e892'; }
.icon-gplus-squared:before { content: '\e893'; }
.icon-linkedin-squared:before { content: '\e894'; }
.icon-skype:before { content: '\e895'; }
.icon-tumblr:before { content: '\e896'; }
.icon-tumblr-squared:before { content: '\e897'; }
.icon-twitter-squared:before { content: '\e898'; }
.icon-twitter:before { content: '\e899'; }
.icon-basket-3:before { content: '\e89a'; }
.icon-bag:before { content: '\e89b'; }
.icon-login:before { content: '\e89c'; }
.icon-logout:before { content: '\e89d'; }
.icon-twitter-1:before { content: '\e89e'; }
.icon-facebook-squared-1:before { content: '\e89f'; }
.icon-gplus-1:before { content: '\e8a0'; }
.icon-behance:before { content: '\e8a1'; }
.icon-vkontakte:before { content: '\e8a2'; }
.icon-basket:before { content: '\e8a3'; }
.icon-skype-outline:before { content: '\e8a4'; }
.icon-skype-1:before { content: '\e8a5'; }
.icon-resize-full:before { content: '\e8a6'; }
.icon-resize-full-alt:before { content: '\e8a7'; }
.icon-resize-small:before { content: '\e8a8'; }
.icon-resize-small-alt:before { content: '\e8a9'; }
.icon-resize-vertical:before { content: '\e8aa'; }
.icon-resize-horizontal:before { content: '\e8ab'; }
.icon-move:before { content: '\e8ac'; }
.icon-lock-1:before { content: '\e8ad'; }
.icon-lock-open-1:before { content: '\e8ae'; }
.icon-print:before { content: '\e8af'; }
.icon-basket-1:before { content: '\e8b0'; }
.icon-basket-alt:before { content: '\e8b1'; }
.icon-ok:before { content: '\e8b2'; }
.icon-ok-circled:before { content: '\e8b3'; }
.icon-cancel:before { content: '\e8b4'; }
.icon-cancel-circled:before { content: '\e8b5'; }
.icon-plus:before { content: '\e8b6'; }
.icon-lock:before { content: '\e8b7'; }
.icon-lock-alt:before { content: '\e8b8'; }
.icon-lock-open:before { content: '\e8b9'; }
.icon-lock-open-alt:before { content: '\e8ba'; }
.icon-down-open:before { content: '\e8bb'; }
.icon-left-open:before { content: '\e8bc'; }
.icon-right-open:before { content: '\e8bd'; }
.icon-up-open:before { content: '\e8be'; }
.icon-down:before { content: '\e8bf'; }
.icon-left:before { content: '\e8c0'; }
.icon-right:before { content: '\e8c1'; }
.icon-up:before { content: '\e8c2'; }
.icon-skype-2:before { content: '\e8c3'; }
.icon-twitter-3:before { content: '\e8c4'; }
.icon-cart:before { content: '\e8c5'; }
.icon-facebook:before { content: '\e8c6'; }
.icon-facebook-rect:before { content: '\e8c7'; }
.icon-twitter-2:before { content: '\e8c8'; }
.icon-twitter-bird:before { content: '\e8c9'; }
.icon-googleplus-rect:before { content: '\e8ca'; }
.icon-skype-3:before { content: '\e8cb'; }
.icon-icq:before { content: '\e8cc'; }
.icon-yandex:before { content: '\e8cd'; }
.icon-yandex-rect:before { content: '\e8ce'; }
.icon-vkontakte-rect:before { content: '\e8cf'; }
.icon-odnoklassniki:before { content: '\e8d0'; }
.icon-odnoklassniki-rect:before { content: '\e8d1'; }
.icon-linkedin-1:before { content: '\e8d2'; }
.icon-linkedin-rect:before { content: '\e8d3'; }
.icon-ok-1:before { content: '\e8d4'; }
.icon-ok-circled-1:before { content: '\e8d5'; }
.icon-ok-circled2:before { content: '\e8d6'; }
.icon-cancel-1:before { content: '\e8d7'; }
.icon-cancel-circled-1:before { content: '\e8d8'; }
.icon-cancel-circled2:before { content: '\e8d9'; }
.icon-plus-1:before { content: '\e8da'; }
.icon-plus-circled:before { content: '\e8db'; }
.icon-minus:before { content: '\e8dc'; }
.icon-minus-circled:before { content: '\e8dd'; }
.icon-location:before { content: '\e8de'; }
.icon-location-circled:before { content: '\e8df'; }
.icon-basket-2:before { content: '\e8e0'; }
.icon-gauge:before { content: '\e8e1'; }
.icon-behance-1:before { content: '\e8e2'; }
.icon-facebook-1:before { content: '\e8e3'; }
.icon-googleplus:before { content: '\e8e4'; }
.icon-linkedin:before { content: '\e8e5'; }
.icon-th-large:before { content: '\e8e6'; }
.icon-th:before { content: '\e8e7'; }
.icon-th-list:before { content: '\e8e8'; }
.icon-facebook-rect-1:before { content: '\e8e9'; }
.icon-twitter-bird-1:before { content: '\e8ea'; }
.icon-vimeo-rect:before { content: '\e8eb'; }
.icon-tumblr-rect:before { content: '\e8ec'; }
.icon-googleplus-rect-1:before { content: '\e8ed'; }
.icon-linkedin-rect-1:before { content: '\e8ee'; }
.icon-skype-4:before { content: '\e8ef'; }
.icon-vkontakte-rect-1:before { content: '\e8f0'; }
.icon-youtube:before { content: '\e8f1'; }
.icon-odnoklassniki-rect-1:before { content: '\e8f2'; }
.icon-phone-squared:before { content: '\e8f3'; }
.icon-fax:before { content: '\e8f4'; }
.icon-phone:before { content: '\e8f5'; }
.icon-phone-outline:before { content: '\e8f6'; }
.icon-phone-1:before { content: '\e8f7'; }
.icon-location-1:before { content: '\e8f8'; }
.icon-location-inv:before { content: '\e8f9'; }
.icon-location-alt:before { content: '\e8fa'; }
.icon-post:before { content: '\e8fb'; }
.icon-email:before { content: '\e8fc'; }
.icon-mail-1:before { content: '\e8fd'; }
.icon-phone-2:before { content: '\e8fe'; }
.icon-phone-circled:before { content: '\e8ff'; }
.icon-location-2:before { content: '\e900'; }
.icon-briefcase:before { content: '\e901'; }
.icon-file-video:before { content: '\e902'; }
.icon-file-audio:before { content: '\e903'; }
.icon-file-archive:before { content: '\e904'; }
.icon-file-image:before { content: '\e905'; }
.icon-file-powerpoint:before { content: '\e906'; }
.icon-file-excel:before { content: '\e907'; }
.icon-file-word:before { content: '\e908'; }
.icon-file-pdf:before { content: '\e909'; }
.icon-doc-text-inv:before { content: '\e90a'; }
.icon-doc-inv:before { content: '\e90b'; }
.icon-doc-text:before { content: '\e90c'; }
.icon-docs:before { content: '\e90d'; }
.icon-file-code:before { content: '\e90e'; }
.icon-folder:before { content: '\e90f'; }
.icon-folder-open:before { content: '\e910'; }
.icon-folder-empty:before { content: '\e911'; }
.icon-folder-open-empty:before { content: '\e912'; }
.icon-thumbs-up:before { content: '\e913'; }
.icon-thumbs-down:before { content: '\e914'; }
.icon-thumbs-up-alt:before { content: '\e915'; }
.icon-thumbs-down-alt:before { content: '\e916'; }
.icon-download-cloud:before { content: '\e917'; }
.icon-upload-cloud:before { content: '\e918'; }
.icon-camera-alt:before { content: '\e919'; }
.icon-camera:before { content: '\e91a'; }
.icon-picture:before { content: '\e91b'; }
.icon-videocam:before { content: '\e91c'; }
.icon-video:before { content: '\e91d'; }
.icon-money-1:before { content: '\e91e'; }
.icon-dollar-1:before { content: '\e91f'; }
.icon-grocery-store:before { content: '\e920'; }
.icon-credit-card:before { content: '\e921'; }
.icon-network:before { content: '\e922'; }
.icon-globe:before { content: '\e923'; }
.icon-globe-alt:before { content: '\e924'; }
.icon-credit-card-1:before { content: '\e925'; }
.icon-search:before { content: '\e926'; }
.icon-money-2:before { content: '\e927'; }
.icon-credit-card-2:before { content: '\e928'; }
.icon-wallet-outline:before { content: '\e929'; }
.icon-wallet-solid:before { content: '\e92a'; }
.icon-wallet1:before { content: '\e92b'; }
.icon-cancel-squared:before { content: '\e92c'; }
.icon-plus-squared-1:before { content: '\e92d'; }
.icon-plus-circled-2:before { content: '\e92e'; }
.icon-minus-circled-2:before { content: '\e92f'; }
.icon-minus-squared-1:before { content: '\e930'; }
.icon-minus-2:before { content: '\e931'; }
.icon-plus-3:before { content: '\e932'; }
.icon-cancel-circled-3:before { content: '\e933'; }
.icon-cancel-3:before { content: '\e934'; }
.icon-check:before { content: '\e935'; }
.icon-help-circled:before { content: '\e936'; }
.icon-help:before { content: '\e937'; }
.icon-info-circled:before { content: '\e938'; }
.icon-info:before { content: '\e939'; }
.icon-attention:before { content: '\e93a'; }
.icon-alert:before { content: '\e93b'; }
.icon-ok-circle:before { content: '\e93c'; }
.icon-cancel-circle:before { content: '\e93d'; }
.icon-plus-circle:before { content: '\e93e'; }
.icon-minus-circle:before { content: '\e93f'; }
.icon-info-1:before { content: '\e940'; }
.icon-th-list-1:before { content: '\e941'; }
.icon-th-1:before { content: '\e942'; }
.icon-trash:before { content: '\e943'; }
.icon-th-thumb:before { content: '\e944'; }
.icon-menu:before { content: '\e945'; }
.icon-th-thumb-empty:before { content: '\e946'; }
.icon-th-list-2:before { content: '\e947'; }
.icon-th-large-1:before { content: '\e948'; }
.icon-th-2:before { content: '\e949'; }
.icon-th-list-3:before { content: '\e94a'; }
.icon-view-mode:before { content: '\e94b'; }
.icon-bookmark-1:before { content: '\e94c'; }
.icon-bookmark-empty-1:before { content: '\e94d'; }
.icon-info-2:before { content: '\e94e'; }
.icon-info-circled-1:before { content: '\e94f'; }
.icon-info-circled-alt:before { content: '\e950'; }
.icon-info-circled-2:before { content: '\e951'; }
.icon-info-circled-3:before { content: '\e952'; }
.icon-info-3:before { content: '\e953'; }
.icon-user:before { content: '\e954'; }
.icon-users:before { content: '\e955'; }
.icon-user-add:before { content: '\e956'; }
.icon-user-1:before { content: '\e957'; }
.icon-user-2:before { content: '\e958'; }
.icon-user-3:before { content: '\e959'; }
.icon-group:before { content: '\e95a'; }
.icon-group-circled:before { content: '\e95b'; }
.icon-torso:before { content: '\e95c'; }
.icon-user-4:before { content: '\e95d'; }
.icon-user-5:before { content: '\e95e'; }
.icon-user-male:before { content: '\e95f'; }
.icon-user-female:before { content: '\e960'; }
.icon-users-1:before { content: '\e961'; }
.icon-power:before { content: '\e962'; }
.icon-cog:before { content: '\e963'; }
.icon-cog-1:before { content: '\e964'; }
.icon-cog-2:before { content: '\e965'; }
.icon-cog-circled:before { content: '\e966'; }
.icon-cogs:before { content: '\e967'; }
.icon-cog-3:before { content: '\e968'; }
.icon-cog-4:before { content: '\e969'; }
.icon-cog-5:before { content: '\e96a'; }
.icon-cog-outline:before { content: '\e96b'; }
.icon-cog-6:before { content: '\e96c'; }
.icon-check-empty:before { content: '\e96d'; }
.icon-check-1:before { content: '\e96e'; }
.icon-check-empty-1:before { content: '\e96f'; }
.icon-check-2:before { content: '\e970'; }
.icon-menu-1:before { content: '\e971'; }
.icon-off:before { content: '\e972'; }
.icon-off-1:before { content: '\e973'; }
.icon-calendar-alt:before { content: '\e974'; }
.icon-wallet:before { content: '\e975'; }
.icon-uncheck:before { content: '\e976'; }
.icon-check-3:before { content: '\e977'; }
.icon-truck:before { content: '\e978'; }
.icon-truck-1:before { content: '\e979'; }
.icon-asterisk:before { content: '\e97a'; }
.icon-fire:before { content: '\e97b'; }
.icon-fire-2:before { content: '\e97c'; }
.icon-wrench:before { content: '\e97d'; }
.icon-flag:before { content: '\e97e'; }
.icon-attach:before { content: '\e97f'; }
.icon-pin:before { content: '\e980'; }
.icon-tag:before { content: '\e981'; }
.icon-location-3:before { content: '\e982'; }
.icon-pencil:before { content: '\e983'; }
.icon-edit:before { content: '\e984'; }
.icon-bell:before { content: '\e985'; }
.icon-clock:before { content: '\e986'; }
.icon-calendar:before { content: '\e987'; }
.icon-down-dir:before { content: '\e988'; }
.icon-up-circled2:before { content: '\e989'; }
.icon-down-circled2:before { content: '\e98a'; }
.icon-up-dir:before { content: '\e98b'; }
.icon-left-dir:before { content: '\e98c'; }
.icon-right-dir:before { content: '\e98d'; }
.icon-globe-1:before { content: '\e98e'; }
.icon-cloud:before { content: '\e98f'; }
.icon-flash:before { content: '\e990'; }
.icon-umbrella:before { content: '\e991'; }
.icon-flight:before { content: '\e992'; }
.icon-gift:before { content: '\e993'; }
.icon-flashlight:before { content: '\e994'; }
.icon-mail-2:before { content: '\e995'; }
.icon-heart-1:before { content: '\e996'; }
.icon-heart-empty-1:before { content: '\e997'; }
.icon-video-1:before { content: '\e998'; }
.icon-camera-1:before { content: '\e999'; }
.icon-picture-1:before { content: '\e99a'; }
.icon-thumbs-up-1:before { content: '\e99b'; }
.icon-thumbs-down-1:before { content: '\e99c'; }
.icon-location-4:before { content: '\e99d'; }
.icon-address:before { content: '\e99e'; }
.icon-map-1:before { content: '\e99f'; }
.icon-vcard:before { content: '\e9a0'; }
.icon-direction-1:before { content: '\e9a1'; }
.icon-compass:before { content: '\e9a2'; }
.icon-cup:before { content: '\e9a3'; }
.icon-trash-1:before { content: '\e9a4'; }
.icon-folder-1:before { content: '\e9a5'; }
.icon-archive:before { content: '\e9a6'; }
.icon-box:before { content: '\e9a7'; }
.icon-phone-3:before { content: '\e9a8'; }
.icon-tools:before { content: '\e9a9'; }
.icon-calendar-1:before { content: '\e9aa'; }
.icon-briefcase-1:before { content: '\e9ab'; }
.icon-certificate-1:before { content: '\e9ac'; }
.icon-certificate-outline:before { content: '\e9ad'; }
.icon-mail-3:before { content: '\e9ae'; }
.icon-tag-1:before { content: '\e9af'; }
.icon-tag-empty:before { content: '\e9b0'; }
.icon-attach-1:before { content: '\e9b1'; }
.icon-box-1:before { content: '\e9b2'; }
.icon-attach-2:before { content: '\e9b3'; }
.icon-attach-outline:before { content: '\e9b4'; }
.icon-attach-3:before { content: '\e9b5'; }
.icon-attach-5:before { content: '\e9b6'; }
.icon-attach-circled:before { content: '\e9b7'; }
.icon-attach-6:before { content: '\e9b8'; }
.icon-attach-7:before { content: '\e9b9'; }
.icon-tag-2:before { content: '\e9ba'; }
.icon-mail-4:before { content: '\e9bb'; }
.icon-heart-2:before { content: '\e9bc'; }
.icon-award:before { content: '\e9bd'; }
.icon-mail-5:before { content: '\e9be'; }
.icon-heart-3:before { content: '\e9bf'; }
.icon-trash-2:before { content: '\e9c0'; }
.icon-thumbs-up-2:before { content: '\e9c1'; }
.icon-thumbs-down-2:before { content: '\e9c2'; }
.icon-tag-3:before { content: '\e9c3'; }
.icon-tags-1:before { content: '\e9c4'; }
.icon-flag-1:before { content: '\e9c5'; }
.icon-flag-circled:before { content: '\e9c6'; }
.icon-wrench-circled:before { content: '\e9c7'; }
.icon-wrench-1:before { content: '\e9c8'; }
.icon-clock-1:before { content: '\e9c9'; }
.icon-briefcase-2:before { content: '\e9ca'; }
.icon-certificate-2:before { content: '\e9cb'; }
.icon-plus-circle-1:before { content: '\e9cc'; }
.icon-minus-circle-1:before { content: '\e9cd'; }
.icon-link-1:before { content: '\e9ce'; }
.icon-tag-4:before { content: '\e9cf'; }
.icon-data-science-inv:before { content: '\f017'; }
.icon-globe-2:before { content: '\f018'; }
.icon-globe-inv:before { content: '\f019'; }
.icon-heart-broken:before { content: '\f028'; }
.icon-attach-4:before { content: '\f06a'; }
.icon-certificate:before { content: '\f0a3'; }
.icon-bell-alt:before { content: '\f0f3'; }
.icon-flag-empty:before { content: '\f11d'; }
.icon-flag-checkered:before { content: '\f11e'; }
.icon-direction:before { content: '\f124'; }
.icon-calendar-empty:before { content: '\f133'; }
.icon-angle-circled-left:before { content: '\f137'; }
.icon-angle-circled-right:before { content: '\f138'; }
.icon-angle-circled-up:before { content: '\f139'; }
.icon-angle-circled-down:before { content: '\f13a'; }
.icon-pencil-squared:before { content: '\f14b'; }
.icon-sun:before { content: '\f185'; }
.icon-moon:before { content: '\f186'; }
.icon-right-circled2:before { content: '\f18e'; }
.icon-left-circled2:before { content: '\f190'; }
.icon-paper-plane:before { content: '\f1d8'; }
.icon-paper-plane-empty:before { content: '\f1d9'; }
.icon-sliders:before { content: '\f1de'; }
.icon-bell-off:before { content: '\f1f6'; }
.icon-bell-off-empty:before { content: '\f1f7'; }
.icon-bus:before { content: '\f207'; }
.icon-calendar-plus-o:before { content: '\f271'; }
.icon-calendar-minus-o:before { content: '\f272'; }
.icon-calendar-times-o:before { content: '\f273'; }
.icon-calendar-check-o:before { content: '\f274'; }
.icon-map-signs:before { content: '\f277'; }
.icon-map-o:before { content: '\f278'; }
.icon-map:before { content: '\f279'; }
.icon-percent:before { content: '\f295'; }
.icon-envelope-open:before { content: '\f2b6'; }
.icon-envelope-open-o:before { content: '\f2b7'; }
.icon-address-book:before { content: '\f2b9'; }
.icon-address-book-o:before { content: '\f2ba'; }
.icon-address-card:before { content: '\f2bb'; }
.icon-address-card-o:before { content: '\f2bc'; }
.icon-user-circle:before { content: '\f2bd'; }
.icon-user-circle-o:before { content: '\f2be'; }
.icon-id-badge:before { content: '\f2c1'; }
.icon-id-card:before { content: '\f2c2'; }
.icon-id-card-o:before { content: '\f2c3'; }
.icon-free-code-camp:before { content: '\f2c5'; }
.icon-snowflake-o:before { content: '\f2dc'; }
.icon-fire-1:before { content: '\f525'; }
.icon-spinner2:before { content: '\f529'; }