// =============================================
// Brand Colors
// =============================================

$bc-blue: #00aaf2;
$bc-light-blue: #5ccdff;
$bc-extra-light-blue: #cbe8fb;
$bc-orange: #ffb819;
$bc-magento: #ea1d76;
$bc-light-green: #c4d600;
$bc-gray: #4d4d4d;


// =============================================
// Typography
// =============================================

$font-base: Arial, Helvetica, Verdana, sans-serif;
$font-h1: "Circe Rounded Extra Bold", Helvetica, Verdana, sans-serif;

$plain-text-color: $bc-gray;
$ligth-text-color: #ffffff;
$label1-text-color: $bc-blue;
$label2-text-color: $bc-light-blue;
$label3-text-color: $bc-extra-light-blue;
$label4-text-color: $bc-orange;
$label5-text-color: $bc-magento;
$label6-text-color: $bc-light-green;

// =============================================
// Dimensions
// =============================================
$header-hight: 64px;
$border-rad: 3px;